<div class="container">
  <nav>
    <div class="nav-bar">
      <img src="images/logo-birrotecla.png" alt="logo-birrotecla" routerLink="/beers" routerLinkActive="active" class="button">
      <div class="container-nav-bar-buttons">
        <ul class="nav-bar-list">
          <li class="nav-item"><a routerLink="/beers" routerLinkActive="active">Home</a></li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
      </div>
      
    </div>
    
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <p class="footer">
      Birrotecla © 2024
    </p>
  </footer>
</div>
